astroid==3.1.0
autopep8==2.0.4
coloredlogs==15.0.1
dill==0.3.8
humanfriendly==10.0
isort==5.13.2
mccabe==0.7.0
numpy==1.26.4
platformdirs==4.2.0
psycopg2==2.9.9
pycodestyle==2.11.1
pydash==7.0.7
pylint==3.1.0
protobuf==3.20.0
python-dotenv==1.0.1
sql_metadata==2.10.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.10.0
