{
  "genesis_time": "2023-02-20T16:36:16.238733025Z",
  "chain_id": "test-chain-dPKsOY",
  "consensus_params": {
    "block": {
      "max_bytes": "22020096",
      "max_gas": "-1",
      "time_iota_ms": "1000"
    },
    "evidence": {
      "max_age": "100000"
    },
    "validator": {
      "pub_key_types": [
        "ed25519"
      ]
    }
  },
  "validators": [
    {
      "address": "_node_address_",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "_pub_key_value_"
      },
      "power": "10",
      "name": "_name_"
    },
    {
      "address": "_node_address_",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "_pub_key_value_"
      },
      "power": "10",
      "name": "_name_"
    },
    {
      "address": "_node_address_",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "_pub_key_value_"
      },
      "power": "10",
      "name": "_name_"
    },
    {
      "address": "_node_address_",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "_pub_key_value_"
      },
      "power": "10",
      "name": "_name_"
    },
    {
      "address": "_node_address_",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "_pub_key_value_"
      },
      "power": "10",
      "name": "_name_"
    },
    {
      "address": "_node_address_",
      "pub_key": {
        "type": "tendermint/PubKeyEd25519",
        "value": "_pub_key_value_"
      },
      "power": "10",
      "name": "_name_"
    }
  ],
  "app_hash": ""
}
